.search {
    padding: 50px;

    &__input {
        position: relative;
        border: 1px solid #555;
        width: 100%;
        padding: 25px 65px 25px 20px;
        font-size: 20px;
        background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(238, 237, 237, 0.4) 100%);
        box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);


        &:focus {
            outline-offset: 0px;
        }

        @include tablet {
            padding: 15px 50px 15px 15px;
            background-size: 20px;
            background-position-x: calc(100% - 15px);
            font-size: 18px;
        }

        @include mobile {
            padding: 15px 40px 15px 15px;
            font-size: 18px;
        }

        &--icon {
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                width: 40px;
                height: 40px;
                right: 50%;
                background: transparent url('../images/magnifying-glass-icon.svg') no-repeat center;
                transform: translate(-50%, -50%);

                @include tablet {
                    width: 30px;
                    height: 30px;
                }
        
                @include mobile {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

    @include tablet {
        padding: 30px;
    }

    @include mobile {
        padding: 15px;
    }

    &[type="search"]::placeholder {
        color: #bbb;
    }
}